.join-container {
  width: 100%;
  display: flex;
  align-items: center;
  height: 100vh;

  background-color: #5c5c5c;
}

.join {
  margin: 0 auto;
}

.join-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 4px;
}

.join-signIn-btn, .join-inputs input{
  width: 280px;
  height: 50px;

  padding: 4px;

  box-sizing: border-box;

  border-radius: 4px;
}

.join-signIn-btn{
  background-color: #3b478a;
  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  color: #ffffff;
}